<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/App"
        android:usesCleartextTraffic="true"
        tools:targetApi="s">
        <activity
            android:name=".ui.activity.LanguageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.PlayTimeActivity"
            android:configChanges="orientation"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.BrowseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ReferHistoryActivity"
            android:exported="false"
            android:theme="@style/App" />
        <activity
            android:name=".ui.activity.ScratchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ClaimBonus"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MathQuiz"
            android:exported="false" />
        <activity
            android:name=".ui.activity.IntroActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="false"
            android:theme="@style/App.NoActionBar" />
        <activity
            android:name=".ui.activity.OtpVerification"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="false"
            android:theme="@style/App.NoActionBar" />
        <activity
            android:name=".ui.activity.AboutusActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="false"
            android:label="About us"
            android:theme="@style/App.NoActionBar" />
        <activity
            android:name=".ui.activity.YTVideoActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="false"
            android:label="Watch Video"
            android:theme="@style/App.NoActionBar" />
        <activity
            android:name=".ui.activity.WeburlActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="false"
            android:theme="@style/App.NoActionBar" />
        <activity
            android:name=".ui.activity.WithdrawActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="false"
            android:theme="@style/App.NoActionBar" />
        <activity
            android:name=".ui.activity.Splash"
            android:exported="true"
            android:theme="@style/App.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.FrontLogin"
            android:exported="false"
            android:theme="@style/App.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.FrontSignup"
            android:exported="false"
            android:theme="@style/App.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.SpinActivity"
            android:exported="false"
            android:theme="@style/App.NoActionBar" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service
            android:name=".ui.activity.PushNotificationService"
            android:exported="false"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
        <meta-data
            android:name="applovin.sdk.key"
            android:value="@string/APPLOVIN_SDK_KEY" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.ironsource.sdk.controller.ControllerActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true" />
        <activity
            android:name="com.ironsource.sdk.controller.InterstitialActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.ironsource.sdk.controller.OpenUrlActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.ironsource.mediationsdk.testSuite.TestSuiteActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.NoTitleBar" />

        <provider
            android:name="com.ironsource.lifecycle.IronsourceLifecycleProvider"
            android:authorities="${applicationId}.IronsourceLifecycleProvider" />
    </application>

</manifest>